<nav class="main-nav">
  {{ if ne .IsHome true }}
  <a class="normal" href="/"> <span class="arrow">←</span> Home</a>
  {{ end }}

	{{ range .Site.Menus.main }}
		{{ if .Page.Params.redirect }}
			<a href="{{ .Page.Params.redirect }}">{{ .Name }}</a>
		{{ else }}
			{{ $name := .Name }}
			{{ $name := replace $name "Archive" "Archivi" }}
			{{ $name := replace $name "Photos" "Foto" }}
			{{ $name := replace $name "Replies" "Risposte" }}
			<a href="{{ .URL | relLangURL | safeURL }}">{{ $name }}</a>
		{{ end }}
	{{ end }}

  <a class="cta" href="https://micro.blog/{{ .Site.Author.username }}" rel="me">Anche su Micro.blog</a>
</nav>
